apiVersion: batch/v1
kind: CronJob
metadata:
  name: load-generator
spec:
  schedule: "*/1 * * * *"
  concurrencyPolicy: Allow
  failedJobsHistoryLimit: 1
  successfulJobsHistoryLimit: 1
  jobTemplate:
    metadata:
      labels:
        cron-job: lgen
    spec:
      template:
        spec:
          containers:
          - name: load-generator
            image: curlimages/curl:7.72.0
            command: ["/bin/sh"]
            args:
              - -c
              - >-
                  curl http://web-frontend:8080 &&
                  curl http://web-frontend:8080/WebFrontEnd &&
                  curl http://web-frontend:8080/WebFrontEnd/jg
          restartPolicy: OnFailure
